

.content{
    text-align: center;
    width: 50vw;
    padding: 20px;

}

.homePage{
    background-color: rgb(189, 236, 245);
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}